@page "{skip:int=0}/{show:int=4}"
@model LanguageLearningSite.Pages.AllWordsModel
@{
    ViewData["Title"] = "All words";
}

<div class="lefcolumn">
    <div class="wordofthedaybox">
        <div class="word">Word of the day</div>
        <a class="language">Word</a>
    </div>
    <div class="allwords">
        @for (int i = Model.Skip; i < Model.WordsOnPage; i++)
        {
            LanguageLearning.Word word = Model.words[i];
            <div class="box">
                <div><a asp-page="Word" asp-route-random="@false" class="word">@word.WordString</a></div>
                <div class="partofspeech">@word.PartsOfSpeach</div>
                <div class="definition">@word.MostPopularDefinition.Def</div>
                <div class="language">@word.Definitions.Count definitions in total</div>
            </div>
        }
    </div>
</div>
<div class="rightcolumn">
    <h2>Filters</h2>
    <form>
        <div class="include">
            <h3>Include</h3>
            <div class="row"><input type="checkbox" /><label>Something</label></div>
            <div class="row"><input type="checkbox" /><label>Something</label></div>
        </div>
        <div class="exclude">
            <h3>Exclude</h3>
            <div class="row"><input type="checkbox" /><label>Something</label></div>
            <div class="row"><input type="checkbox" /><label>Something</label></div>
        </div>
        <div class="sort">
            <h3>Filter</h3>
            <div class="row"><input type="checkbox" /><label>Something</label></div>
            <div class="row"><input type="checkbox" /><label>Something</label></div>
        </div>
        <input type="submit" />
    </form>


</div>

<div class="pagenav">
    <div class="prev">
        <a><<</a><a><</a>
    </div>
    <div class="numbers">
        <a>1</a>...<a>3</a>4<a>5</a>...<a>7</a>
    </div>
    <div class="next"><a>></a><a>>></a></div>
</div>